body{
  margin: 0;
  background-color:#7CD2D7;
}

.main-content{
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  font-family: 'Poppins', sans-serif;
  
}

.left-content{
  margin-left: 50px;
  font-weight: medium;
  color: white;
  width: 30%;
  justify-content: center;
  border-top-right-radius: 10px;
}
.main-content > img {
  width: 30vw;
  position: relative; /* Adjust as needed to horizontally center the image */
  position: absolute;
  left: 15%;
  top: 20%;
  z-index: 1; 
}

h1{
  background-color: white;
}

.signup-form{
  position: relative;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 65vw;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
}
.signup-form > p {
  color: gray;
}

.external-signup{
  display: flex;
  gap: 30px;
  align-items: center;
  background-color: white;
}

.external-signup >button > img {
  width: 20px;
  background-color: white;
}

.external-signup > button {
  display: flex;
  align-items: center;
  border: 1px solid gray;
  padding: 10px;
  border-radius: 5px;
  gap: 10px;
  cursor: pointer;
  background-color: white;
}


.external-signup > button > a{
  background-color: white;
}
p{
  background-color: white;

}
form{
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: white;
  align-items: center;
}

form > input {
  padding: 15px;
  width: 35vw;
  font-size: 16px;
  border: none;
  border-bottom: 1px solid rgb(208, 207, 207);
  background-color: white;
}

form > button {
  background-color: #7CD2D7;
  border: none;
  border-radius: 5px;
  padding: 10px;
  align-self: center;
  width: 60%;
  color: white;
  font-weight: bolder;
  cursor: pointer;
}

@media (min-width: 750px) and (max-width: 890px) {
  .main-content > img {
    top: 30%;
    width: 35vw;
  }
  .external-signup{
    flex-direction: column;
    gap: 5px;
  }
}

@media (max-width:750px) {
  .main-content{
    display: block;
  }
  .main-content > img {
    display: none;
  }
  .left-content{
    width: 100%;
  }
  .signup-form{
    width: 100%;
    height: 95vh;
  }
  .external-signup{
    flex-direction: column;
    gap: 6px;
  }
  form > input{
    width: 60vw;
  }
}

